<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ventura Graphic Design</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="http://use.typekit.com/nxm3daf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <div class="page">
    <header class="main">
      
    <blog>
        <h2 id='blog'><a href="http://blog.com/"><%= image_tag 'blog-button.png' %></a></h2>
    </blog>
      
      <h1 class="logo"><a href="#about"><%= image_tag 'logo.png', :alt => 'Ventura Graphic Design' %></a></h1>  
      <nav>
        <ul>
          <li id='portfolio-link'><a href="#portfolio">Portfolio</a></li>
          <li id='contact-link'><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="about">
      <div class="prose">
        <p>Ventura Graphic Design helps <strong>committed</strong> nonprofits, <strong>socially&#x2011;responsible</strong> campaigns, and <strong>ethical</strong> businesses solve their communications, marketing, and branding needs.</p>

        <p>Our <strong>super-creative</strong> team is passionate about thoughtful design that tells a great story.</p>

        <p><strong>Let us tell yours.</strong></p>
      </div>
      
      <ul id="socialmedia">
        <li class="twitter"><a href="http://twitter.com/venturagd"><%= image_tag 'twitter.png' %></a></li>
        <li class="facebook"><a href="http://facebook.com/venturagd/"><%= image_tag 'facebook.png' %></a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/pub/libby-ventura/31/b44/a44"><%= image_tag 'linkedin.png' %></a></li>
      </ul>
    </section>
  
    
    <section id="portfolio">
      <header>
        <h1>A designer is a planner with an aesthetic sense. &nbsp&nbsp&nbsp&nbsp&nbsp<font size="2">— Bruno Munari</font></h1>
      </header>
      
      <div id="slider">
        <%= image_tag 'portfolio-cookies.png' %>
      </div>
      
      <nav>
        <ul>
          <li id="previous">Previous</li>
          <li id="next">Next</li>
        </ul>
      </nav>
    </section>
    <section id="contact">
       <header>
          <h1>A design isn’t finished until somebody is using it. &nbsp&nbsp&nbsp&nbsp&nbsp<font size="2">— Brenda Laurel</font></h1>
        </header>
      <div class="prose">
        <p>
          <%= mail_to 'hello@venturagraphicdesign.com', nil, :encode => 'javascript' %>
        </p>
      </div>
    </section>
  </div>
</body>
</html>
