<!-- About. -->
<section id="about">
  <div class="prose">
    <p>Ventura Graphic Design helps <strong>committed</strong> nonprofits, <strong>socially&#x2011;responsible</strong> campaigns, and <strong>ethical</strong> businesses solve their communications, marketing, and branding needs.</p>

    <p>Our <strong>super-creative</strong> team is passionate about thoughtful design that tells a great story.</p>

    <p><strong>Let us tell yours.</strong></p>
  </div>

  <ul id="socialmedia">
    <li class="twitter"><a href="http://twitter.com/venturagd" target="_blank"><%= image_tag 'twitter.png' %></a></li>
    <li class="facebook"><a href="http://facebook.com/venturagd/" target="_blank"><%= image_tag 'facebook.png' %></a></li>
    <li class="linkedin"><a href="http://www.linkedin.com/company/ventura-graphic-design" target="_blank"><%= image_tag 'linkedin.png' %></a></li>
  </ul>
</section>

<!-- Portfolio. -->
<section id="portfolio">

  <header>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The best way to predict the future is to design it.&nbsp;&nbsp;&nbsp;<span style="font-size: 1.75">— Buckminster Fuller</span></h1>
  </header>

  <% portfolio_images = ['saveanacre.jpg', 'parkpersonality.jpg', 'sequoia.jpg', 'calendars.jpg', 'amani.jpg', 'cookietins.jpg'] %>

  <%# Slider. %>
  <ul id="slider">
    <% portfolio_images.each do |file_name| %>
      <li><%= image_tag "portfolio/#{file_name}" %></li>
    <% end %>
  </ul>

  <%# Image descriptions. %>
  <div id="portfolio_descriptions" data-size="<%= portfolio_images.size %>">
    <% portfolio_images.each_with_index do |file_name, idx| %>
      <%# Enumerate starting at 1 because slider does too. %>
      <div class="portfolio_description" id="portfolio_description_<%= idx + 1 %>">
        <%= render "pages/portfolio/#{file_name.sub(%r[.jpg], '')}" %>
      </div>
    <% end %>
  </div>

</section>

<!-- Contact. -->
<section id="contact">
   <header>
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A design isn’t finished until somebody is using it. &nbsp;&nbsp;&nbsp;<span style="font-size: 1.75">— Brenda Laurel</span></h1>
    </header>
  <div class="prose">
    <p>
      If you’re excited about the future of your organization, then I’m excited to help you get there. <p>Let’s talk soon about how we can work together.
    </p>
    <p>
    <a href="mailto:hello@venturagraphicdesign.com"><%= image_tag 'envelope.png', style: 'padding: 0px 10px 0px 0px;margin-bottom:-4px;' %></a>
      <%= mail_to 'hello@venturagraphicdesign.com', nil, :encode => 'javascript' %>
    </p>
    <p>
      <%= image_tag 'phone.png', style: 'padding: 0px 15px 0px 5px;margin-bottom:-10px;' %>(415) 710–1301
    </p>
    <a href="http://twitter.com/venturagd" target="_blank">
      <%= image_tag 'twitter.png', style: 'padding-left:1px;' %>
      <span style="position: relative; top: -10px;">&nbsp;&nbsp;&nbsp;twitter.com/venturagd&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </a>

    <a href="http://facebook.com/venturagd/" target="_blank">
      <%= image_tag 'facebook.png' %>
      <span style="position: relative; top: -10px;">&nbsp;&nbsp;fb.com/venturagd&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </a>

    <a href="http://www.linkedin.com/in/venturagd" target="_blank">
      <%= image_tag 'linkedin.png' %>
      <span style="position: relative; top: -10px;">&nbsp;&nbsp;&nbsp;linkedin.com/in/venturagd</span>
    </a>

   <br> <p>
     <span style="text-transform: uppercase;span-size: 15px;  letter-spacing: 0.3em;position: relative; top: 30px;"><strong>Want to see more of my work? </strong></span><br><span style="position: relative; top: 30px;">Feel free to contact me and I’d be happy to email you my full portfolio.</span>
    </p>
  </div>
</section>
