<!-- About. -->
<section id="about">
  <div class="prose">
    <p>Ventura Graphic Design helps <strong>committed</strong> nonprofits, <strong>socially&#x2011;responsible</strong> campaigns, and <strong>ethical</strong> businesses solve their communications, marketing, and branding needs.</p>

    <p>Our <strong>super-creative</strong> team is passionate about thoughtful design that tells a great story.</p>

    <p><strong>Let us tell yours.</strong></p>
  </div>

  <ul id="socialmedia">
    <li class="twitter"><a href="http://twitter.com/venturagd"><%= image_tag 'twitter.png' %></a></li>
    <li class="facebook"><a href="http://facebook.com/venturagd/"><%= image_tag 'facebook.png' %></a></li>
    <li class="linkedin"><a href="http://www.linkedin.com/pub/libby-ventura/31/b44/a44"><%= image_tag 'linkedin.png' %></a></li>
  </ul>
</section>

<!-- Portfolio. -->
<section id="portfolio">

  <header>
    <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe best way to predict the future is to design it.&nbsp&nbsp&nbsp<font size="1.75">— Buckminster Fuller</font></h1>
  </header>

  <ul id="slider">
    <% ['saveanacre.jpg', 'parkpersonality.jpg', 'calendars.jpg', 'amani.jpg', 'cookietins.jpg'].each do |file_name| %>
      <li><%= image_tag "portfolio/#{file_name}" %></li>
    <% end %>
  </ul>

</section>

<!-- Contact. -->
<section id="contact">
   <header>
      <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA design isn’t finished until somebody is using it. &nbsp&nbsp&nbsp<font size="1.75">— Brenda Laurel</font></h1>
    </header>
  <div class="prose">
    <p>
      If you’re excited about the future of your organization, then I’m excited to help you get there. <p>Let’s talk soon about how we can work together. </p>
    </p>
    <p>
    <a href="mailto:hello@venturagraphicdesign.com"><image style="padding: 0px 10px 0px 0px;margin-bottom:-4px;"<%= image_tag 'envelope.png' %>
    <%= mail_to 'hello@venturagraphicdesign.com', nil, :encode => 'javascript' %>
    </p>
    <p>
      <image style="padding: 0px 15px 0px 5px;margin-bottom:-10px;"<%= image_tag 'phone.png' %>(415) 710–1301
    </p>
    <a href="http://twitter.com/venturagd"><image style="padding-left:1px;"><%= image_tag 'twitter.png' %><font style="position: relative; top: -10px;
    ">&nbsp&nbsp&nbsptwitter.com/venturagd&nbsp&nbsp&nbsp&nbsp</a> </font>

   <a href="http://facebook.com/venturagd/"><%= image_tag 'facebook.png' %> <font style="position: relative; top: -10px;
    ">&nbsp&nbspfb.com/venturagd&nbsp&nbsp&nbsp&nbsp</a></image></font>

    <a href="http://www.linkedin.com/pub/libby-ventura/31/b44/a44"><%= image_tag 'linkedin.png' %><font style="position: relative; top: -10px;
    ">&nbsp&nbsp&nbsplinkedin.com/in/venturagd</a></image></font>

   <br> <p>
     <font style="text-transform: uppercase;font-size: 15px;  letter-spacing: 0.3em;position: relative; top: 30px;"><strong>Want to see more of my work? </strong></font><br><font style="position: relative; top: 30px;">Feel free to contact me and I’d be happy to email you my full portfolio.</font>
    </p>
  </div>
</section>
